@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@300;400&display=swap");
@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: $main-gold;
  font-family: $font-family-Italiana;
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
}
.wrapper {
    max-width: 1500px;
    margin: 0 auto;
}